<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.0/css/main-style.css?t=20210111100128"><link rel="stylesheet" href="{{ 'pagefly.5d56b634.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_187045904429 == null %}{%- assign collection_187045904429 = collections['calcium-pyruvate'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["187045904429"] = {{collection_187045904429 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-89892adb"><div data-pf-type="Layout" class="pf-5c89892a"><div data-container="true" class="sc-pZopv bjKdkd pf-07ad81c7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-b484a39a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-3d07ad81" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-a13d07ad"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-07ffa2b3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-586ccca1">Calcium Pyruvate</span></h1><a href="#collections" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-4df0b166"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cca13d07">See Selection now</span></a></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bcf76fc6" id="1" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-a9bcf76f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-c02b284c" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-994df286"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-642d994d">What Does Calcium Pyruvate Do?&nbsp;<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-c7c02b28"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-81c7c02b">Calcium pyruvate is vital to specific steps of the metabolic process. When you are working out to gain muscle and changing your lifestyle to try and lose weight, your metabolism is in overdrive. Supplements with calcium pyruvate become a part of the transformation that turns starches and sugars into energy for your cells. It is naturally created in the body and is made from glucose. 
<br>
<br>This alpha-keto acid helps enhance metabolism, and<a href="https://pubmed.ncbi.nlm.nih.gov/32795388/" target="_self"> studies</a> have shown that pyruvate is essential to thermogenesis (e.g., increasing body heat), which leads to weight loss. In addition, through various cycles (e.g., Kreb cycle, Acid cycle), pyruvate can increase adenosine triphosphate (ATP), which is a compound responsible for muscle contractions, nerve impulses, chemical synthesis, and other important operations. 
<br>
<br>Carbohydrates in your diet are going to be broken down into pyruvate by the glycolysis process. One unit of carbohydrates is broken down into two units of pyruvate, which is used as energy to fuel your body. A supplement makes it easier to get the amount that you need for a more noticeable weight loss result. When you add one of our calcium pyruvate products to your fitness diet, then it increases the energy available for working out and aids in burning fat faster. <br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--2 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-821055d4" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dfcfe978"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-284c6cad">Article Navigation</span></h3><a href="#1" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-9899cb81"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6cad1622">What Does Calcium Pyruvate Do?<br></span></a><a href="#2" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-a834514c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-16220a61">What Is Calcium Pyruvate?<br></span></a><a href="#3" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-93440f5d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2c5e9344">Calcium Pyruvate Benefits<br></span></a><a href="#4" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-781fb25a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-aa60781f">Calcium Pyruvate For Weight Loss<br></span></a><a href="#5" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-1cd22653"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0a6191a9">Calcium Pyruvate For Bodybuilding<br></span></a><a href="#6" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-c1357dcd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9508c135">Pyruvic Acid For Anti-Aging and Acne&nbsp;<br></span></a><a href="#7" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-1c47c024"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c9851c47">How To Take Calcium Pyruvate&nbsp;<br></span></a><a href="#8" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-7f498210"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-91a9bcf7">&nbsp;Suggested Dosages&nbsp;<br></span></a><a href="#9" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-0b039a79"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f1070b03">Side Effects and Downsides&nbsp;<br></span></a></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-a87fbde9" id="2" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-17a87fbd pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--5"><div class="sc-pkUyL fTyjzF pf-f517a87f" id="" data-pf-type="Column"><h2 id="" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c6c5eeb5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6fc6c5ee">What Is Calcium Pyruvate?&nbsp;<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-b567364c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-eeb56736">Pyruvate is a natural chemical compound, and calcium pyruvate is a way of stabilizing it for use in supplements and other products. It is created from the breakdown process of carbohydrates like sugars and starches. Your body makes it on a daily basis, and it keeps your cells functioning properly. Supplements are useful when you are trying to gain and maintain muscle growth, slim down, or increase your metabolism for other reasons. 
<br>
<br>There are some foods with higher levels of calcium pyruvate, which you may already eat on a regular basis. They include apples, cheese, red wine, and dark beers. However, these will have nowhere near the amount you will find in our supplements. For example, it would take approximately 70 apples to achieve 5 grams of calcium pyruvate. That is a lot of apples, and you can get that same fitness benefit from a single dose of our supplement. <br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-23c616f8" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-049aec34" id="3" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-2ca4049a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-1c852ca4" id="" data-pf-type="Column"><h2 id="" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9a249c6f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9649335f">Calcium Pyruvate Benefits
<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-9c6f1c85"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-611eba13">There are several benefits to taking calcium pyruvate supplements. Clinical trials, meta-analyses, and various scientific studies have proven that it can be good for anyone looking to contribute to their health and fitness by losing weight or building up muscles. There are topical benefits as well, including pyruvic acid peels and creams, which will make your skin look youthful and clear. This is an excellent anti-aging product that energizes and revitalizes. 
<br>
<br>While the previous advantages were based on studies conducted on human participants, there are a few animal trials that point towards calcium pyruvate as being worthwhile for treating things like cataract reduction, IBS, and other inflammatory issues. More research into pyruvate needs to be done before we can know all of the possible health improvements from taking this compound in its various forms. 
<br>
<br>In the sections below, we will go into further detail and provide you with links to the research that indicates calcium pyruvate is good for keeping you looking and feeling great. By the time you get to the end, you will know all the ways that our supplement can help you reach your health goals.&nbsp;&nbsp;<br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-45ea1e61" id="4" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-34c845ea pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e82834c8" data-pf-type="Column"><h2 id="" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7fa3ab74"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5c181a26">Calcium Pyruvate For Weight Loss<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-ab74e828"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9a0c7fa3">Calcium pyruvate plays a part in both creating energies for cells and enhancing the thermogenic process. Both of these are useful for losing weight. For anyone unfamiliar, thermogenesis is when energy is turned into heat. Ingredients that boost this function are incredibly common in weight loss products (e.g., green tea, turmeric, caffeine, etc.) because it has been proven that it helps you lose weight and keep it off when paired with a healthy diet and regular exercise. 
<br>
<br>Every study completed to date that shows calcium pyruvate assisting in participants losing weight also included a nutritional diet and at least minimal regular exercise. This product is not designed to make you lose weight all on its own. You must use it to supplement other lifestyle changes that are geared towards weight loss. It does increase the effects that these changes will have and help you slim down more quickly. 
<br>
<br>Calcium pyruvate studies with the most significant weight loss results were accompanied by low-calorie diets. You will want to speak with your doctor or a professional dietician about what foods and supplements will work best with calcium pyruvate to give you all the nutrients you need while lowering caloric intake. A few common foods for this type of diet include fish, grains, fresh fruits, and fresh vegetables, to name a few. For anyone wanting to lose weight without a lot of exercises, this is an ideal way to do it. 
<br>
<br>There is still plenty of research that can be done on the topic of slimming products, how they work, and the additional health benefits they can provide. However, there is already some evidence that calcium pyruvate is useful for losing weight when on a nutritious, low-calorie diet. A <a href="https://www.google.com/url?q=https://www.researchgate.net/publication/258280100_Pyruvate_Supplementation_for_Weight_Loss_A_Systematic_Review_and_Meta-Analysis_of_Randomized_Clinical_Trials&sa=D&ust=1610114329457000&usg=AOvVaw0lHsoJd6pIrW0fbuEXJEL2" target="_self">2014 meta-analysis</a> of all the studies and data that existed involving calcium pyruvate supplements found that there was more weight loss for those on the supplement than for anyone in the control group (e.g., those taking a placebo), which seems to indicate that it is advantageous to take calcium pyruvate. 
<br>
<br>If you are someone who loves to be outdoors or exercises regularly to keep your weight under control, this product is an excellent addition to a healthy diet. It is part of the process which keeps your body energized and enables longer workouts by building up your energy supply when the natural glycogen stores are depleted. We will go over that in more detail in the next section, explaining how this product can improve bodybuilding routines. 
<br>
<br>Supplements like calcium pyruvate give your cells extra energy that they would not be able to get naturally, allowing you to workout longer and have a slimming effect. There is <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6019055/" target="_self">some indication</a> that using up the backup stores of glycogen in your skeletal muscles can increase overnight weight loss when combined with certain diets. A<a href="https://www.reliasmedia.com/articles/53350-pyruvate-for-the-treatment-of-obesity" target="_self"> 1999 clinical trial</a> showed that pyruvate could add to weight loss over short-term use when used with a nutritional, low-calorie diet and exercises. More studies still need to be done to determine the long-term positive effect of these products.<br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-22460751" id="5" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-77b22246 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7c3777b2" data-pf-type="Column"><h2 id="" data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-adb51445"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8fe4fc38">Calcium Pyruvate For Bodybuilding <br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-14457c37"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0705adb5">When you are exercising, your body needs additional fuel. Muscles require a huge amount of energy to simply complete day-to-day activities. When you add on bulking up exercises (e.g., weights, running, swimming, push-ups, etc.), then that energy consumption increases substantially. We previously mentioned that ATP is used for things like muscle contractions and nerve signals. When you work out, these become very important, so taking supplements that allow for greater ATP production can be helpful. 
<br>
<br>The body has a limited storage capacity for glucose that is meant to be broken down into pyruvates and other forms of energy. Muscle glycogen depletion is what causes exhaustion during workouts. When you hit a "wall," it indicates you have reached the end of your backup energy stores. Supplements can increase your energy and keep you moving longer while revitalizing your muscle's cells. Once your body uses up its stores, then it must create more, and that process takes time, so using our product will speed up the cycle of turning glucose into usable fuel for your muscles and nerves. 
<br>
<br>A <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6942464/" target="_self">2019 study</a> by CUNY Lehman College in New York reported definitive proof that increased energy levels during training for competitive bodybuilders led to more muscle mass without gaining fat. Participants during the eight-week study were high-level athletes that took part in soccer, volleyball, rowing, kayaking, skating, ice hockey, and taekwondo. ATP generates muscle energy, and pyruvate has an integral part in that production. <br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-9857396c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-5d410234 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0d5d4102" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-4a99e6a6 pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--4 pf-r-dg-sm--4 pf-r-dg-xs--2" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign collection_187045904429 = collections['calcium-pyruvate'] %}{% assign defaultProduct = product %}{% paginate collection_187045904429.products by 4 %}{% for product in collection_187045904429.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-43194a99"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-194a99e6" %}<div class="sc-qPjXN eYzxUD pf-c90d5d41 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:5px; --pf-s-md:5px; --pf-s-sm:5px; --pf-s-xs:5px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--4"><div class="sc-pkUyL fTyjzF pf-d0fa0093" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-f9a634a4">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x181', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-79d2d0fa {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-93c90d5d" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-a41fa09e">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-a09eeb4e">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-1384c4b9" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-1e0e27a5" id="6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4fb4cf19 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9df9cc72" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-340757bd"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-02340757">Pyruvic Acid For Anti-Aging and Acne</span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-bd9df9cc"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-57bd9df9">One form of calcium pyruvate that is used topically is pyruvic acid. It is applied directly to the skin and is included in various skin treatments, including skin peels. Pyruvate acid is used to remove the layer of dead cells providing a clearer looking appearance and giving your skin cells better access to the healing vitamins found in sunlight. You will look and feel younger after using pyruvic acid. 
<br>
<br>There is <a href="https://pubmed.ncbi.nlm.nih.gov/16641887/" target="_self">research</a> showing that pyruvic acid is an anti-inflammatory that can help lessen the skin reaction to acne and other outbreaks. It is a strong antioxidant, as well. A <a href="https://pubmed.ncbi.nlm.nih.gov/15096135/" target="_self">2004 study</a> on the effect of pyruvic acid on acne found that 50% of participants had partial remission of their symptoms, and 40% had complete remission. That is a huge 90% with positive effects from using pyruvic acid to help remove or decrease their visible acne.&nbsp;<br>
<br>A few of the additional ways <a href="https://www.researchgate.net/publication/8944391_Pyruvic_Acid_Peels_for_the_Treatment_of_Photoaging" target="_self">researchers have seen</a> pyruvic acid improve the skin include the following.&nbsp;&nbsp;<br></span></p><ul data-pf-type="List" class="sc-pcLhl bMMcvF pf-531264f0" style="--text-indent:0; --line-spacing:10px;"><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-2ef47329"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4f903c57">Produces smoother skin</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-73291cc7"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9dbc76a1">Less visible wrinkles</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-1cc7bb4a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-206af05c">Skin loses any oily appearance</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-bb4a5312"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8d342ef4">Moderate acne scar reduction</span></li></ul></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-e02bfcd4" id="7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-8adfe02b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-a5968adf" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5aa01efe"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fae05e46">How To Take Calcium Pyruvate</span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-1efe3954"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3dd97882">Before you start taking any supplement, you will want to talk with your doctor to ensure that it will not have any adverse reactions to current medications. They can also help you determine what diet and exercise plan will best help compliment the supplement you intend to start taking. You want to keep in mind that not every supplement is meant to be taken daily, so you must follow the instructions provided with the product to make sure you are not taking too much or too quickly. 
<br>
<br>Most calcium pyruvate products are powder-based, and so they must be mixed in with a medium before being ingested or taken in pill form. However, there are some topical products for those needing pyruvic acid for skin conditions. You will want to follow the directions to make sure you get the maximum effect. Usually, these topical peels should be administered by a professional though there are some ointments and creams available over the counter. 
<br>
<br>Typically pills and powdered calcium pyruvate supplements are taken orally at the recommended dose and schedule listed on the specific product that you buy. There is a wide variety. The minimum dosage is all that is required to get benefits from the supplement, and it has not been proven that taking the maximum dose will increase them at all. It is also safer to take a smaller amount so that there is no unnecessary buildup. 
<br>
<br>Taking the smallest dose and then increasing if necessary, makes any unexpected side effects less of a risk. Some of the minor possible side effects include gastrointestinal issues (e.g., bloating, stomach discomfort, gas, diarrhea, etc.). <br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-7b924b68" id="8" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-af7b924b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-93af7b92" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-7593af7b"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-19b31d9f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cf19b31d">Suggested Dosages&nbsp;<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-9f7593af"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1d9f7593">For skin peels, including 50% pyruvic acid, the study participants had positive effects within a month when used once a week. When possible, a professional should apply this as the instrument used to apply it, and the amount will influence how well it works. Otherwise, simply follow the directions as closely as possible for the greatest outcome. 
<br>
<br>When consuming powdered or pill form calcium pyruvate, always consult a medical professional first and follow directions that come with the product. It is safe to take smaller doses several times a day for most products but always check first, even if you previously used a similar product. There may be slight differences in content and dosage suggestions. <br></span></p></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-2438c49c" id="9" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-e12438c4 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7ae12438" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6849f1f9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4b6849f1">Side Effects and Downsides&nbsp;&nbsp;<br></span></h2><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-f9dd6549"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f1f9dd65">Every substance has side effects, and most can have downsides if not taken as directed. Some individuals also have sensitivities they might not be aware of, which could cause them to react to certain natural ingredients. Side effects are rare for calcium pyruvate supplements, and those that have been recorded are mild. They include the following. &nbsp;<br></span></p><ul data-pf-type="List" class="sc-pcLhl bMMcvF pf-d90f441a" style="--text-indent:0; --line-spacing:10px;"><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-5121915c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4a07fbed">Bloating</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-915ce39b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c1739f46">Stomach discomfort</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-e39bd826"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a1511920">Gas</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-d826d90f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7c635121">Diarrhea</span></li><li data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0a300892"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b7e00a30">Skin burning (e.g., for skin peels on sensitive skin)</span></li></ul><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2de70605"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-81772de7">The larger the dose, the worse the reaction can be, which is why you are encouraged to start off at the minimum dose and work your way up if no effects are noticed. For skin peels, it is best to test it on a small patch of skin; that way, if you find yourself exhibiting symptoms of sensitivity, it will be less severe.&nbsp;&nbsp;<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-cc8afc8a" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-53f1e751" id="source" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-1c53f1e7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-4a1c53f1" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-8a4a1c53"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a960cdb6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-38a960cd">Article Sources</span></h3><ul data-pf-type="List" class="sc-pcLhl bMMcvF pf-41e3716e" style="--text-indent:0; --line-spacing:10px;"><li data-href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3311304/" data-target="_blank" data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-b681f703"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-cdb681f7">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3311304/</span></li><li data-href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4276978/" data-target="_blank" data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-0312e609"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f70312e6">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4276978/</span></li><li data-href="https://www.nia.nih.gov/health/what-do-we-know-about-diet-and-prevention-alzheimers-disease" data-target="_blank" data-pf-type="List.Item" class="sc-oUnPI iVVzrr pf-098a4a1c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e6098a4a">https://www.nia.nih.gov/health/what-do-we-know-about-diet-and-prevention-alzheimers-disease</span></li></ul></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-37285c89" id="collections" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-5137285c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e7513728" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-f1e75137"></div></div></div></div></div></div><div data-pf-type="CollectionPreview" class="sc-qYGzz cjQBWh pf-285c8989">{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}


  

<div class="columns container">
  <div class="row">
      <div class="col-sm-12 grid-main order-md-2">
          {% section 'collection-template-whole' %}
      </div>
      
      {%- comment -%}
      <div class="col-sm-3 grid-left order-md-1">
          <div class="sidebar sidebar-main">
              <div class="block filter filter-wrapper">
                  <div class="block-title filter-title">
                      <strong>Shop By</strong>
                  </div>
                  <div class="content">
                      <strong class="block-subtitle filter-subtitle" role="heading">Shopping
                          Options</strong>
                      <div class="options filter-options" id="narrow-by-list2">
                          <div data-role="collapsible" class="filter-options-item">
                              <div data-role="title" class="filter-options-title">Category</div>
                              <div data-role="content" class="filter-options-content">
                                  <ol class="items">
                                      <li class="item">
                                          <a href="vitamins-and-supplements/aromatherapy.html">
                                              <span class="item-label">Aromatherapy</span>
                                              <span class="count">49</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/best-sellers.html">
                                              <span class="item-label">Best Sellers</span>
                                              <span class="count">12</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/accessories.html">
                                              <span class="item-label">Accessories</span>
                                              <span class="count">4</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/anti-aging.html">
                                              <span class="item-label">Anti-Aging</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/blood-sugar-support.html">
                                              <span class="item-label">Blood Sugar Support</span>
                                              <span class="count">3</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/bone-joint-health.html">
                                              <span class="item-label">Bone &amp; Joint Health</span>
                                              <span class="count">11</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/brain-memory.html">
                                              <span class="item-label">Brain &amp; Memory</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/detox-cleanse.html">
                                              <span class="item-label">Detox &amp; Cleanse</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/digestive-health.html">
                                              <span class="item-label">Digestive Health</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/energy-support.html">
                                              <span class="item-label">Energy Support</span>
                                              <span class="count">14</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/eye-health.html">
                                              <span class="item-label">Eye &amp; Ear Health</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/heart-health.html">
                                              <span class="item-label">Heart Health</span>
                                              <span class="count">14</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/immune-health.html">
                                              <span class="item-label">Immune Health</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/mens-health.html">
                                              <span class="item-label">Men&#039;s Health</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/mental-well-being.html">
                                              <span class="item-label">Stress &amp; Mood Support</span>
                                              <span class="count">7</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/now-sports.html">
                                              <span class="item-label">Sports Performance</span>
                                              <span class="count">21</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/prostate-health.html">
                                              <span class="item-label">Prostate Health</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/sleep-health.html">
                                              <span class="item-label">Sleep Health</span>
                                              <span class="count">6</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/hair-skin-nails.html">
                                              <span class="item-label">Hair, Skin &amp; Nails
                                                  Health</span>
                                              <span class="count">6</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/weight-loss.html">
                                              <span class="item-label">Weight Loss</span>
                                              <span class="count">12</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/womens-health.html">
                                              <span class="item-label">Women&#039;s Health</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                  </ol>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar sidebar-additional">
              <div class="block block-wishlist" data-bind="scope: 'wishlist'">
                  <div class="block-title">
                      <strong role="heading" aria-level="2">My Wish List</strong>
                      <span data-bind="text: wishlist().counter" class="counter"></span>
                  </div>
                  <div class="block-content">
                      <strong class="subtitle">Last Added Items</strong>
                      <div class="actions-toolbar no-display">
                          <div class="primary">
                              <a class="action details" href="wishlist/index.html"
                                  title="Go&#x20;to&#x20;Wish&#x20;List"><span>Go to Wish List</span></a>
                          </div>
                      </div>
                      <div class="empty">You have no items in your wish list.</div>
                  </div>
              </div>
          </div>
      </div>
      {%- endcomment -%}

  </div>
</div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.0","shopDomain":"whole-health-products.myshopify.com","elementData":{"pf-f9a634a4":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-d2d0fa00":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Calcium Pyruvate","pageType":"collection","pageId":"5d56b634-07ff-42b3-8df0-b166b484a39a","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-11T19:28:28.278Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.0/core/helper.js?t=20210111100128" defer></script>